@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
   
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
h2 {
    position: absolute;
    top: 10px;
}

.range-container {
    position: relative;
}
input[type = 'range'] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
}
input[type = 'range']:focus {
    outline: none;
}

input[type = 'range'] + label {
    background: #fff;
    position: absolute;
    top: -25px;
    left: 110px;
    width: 80px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

/* For Chrome and Safari */
input[type = 'range']::-webkit-slider-runnable-track {
    background: purple;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    cursor: pointer;
} 

input[type = 'range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -7px;
}


/* For Firefox */
input[type = 'range']::-moz-range-track {
    background: purple;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    cursor: pointer;
} 

input[type = 'range']::-moz-range-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -7px;
}